@using BootstrapSupport
@model IEnumerable<PRS.Models.MedicalTest> 
@{
    ViewBag.Title = "MEDICAL TESTS"; 
}
<div class="title">
    @ViewBag.Title
    <div class="float-right">@Html.ActionLink("ADD NEW", "Create", null, new { @class = "btn btn-small btn-success" })</div>
</div>
<table class="table">
	<thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
		<th></th>
    </tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td> 
        <td>@Html.DisplayFor(modelItem => item.Description)</td> 
        <td>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Action
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>@Html.ActionLink("Edit", "Edit", new { id=item.MedicalTestId })</li>
					<li>@Html.ActionLink("Details", "Details", new { id=item.MedicalTestId })</li>
				</ul>
			</div>
        </td> 
    </tr> 
}
</tbody>
</table>



