@using BootstrapSupport
@model IEnumerable<PRS.Models.PrisonerViewModel>
@{
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
    
    var isMedical = Request["NextView"] == "Medical";

    var controller = isMedical ? "MedicalTreatment" : "Prisoner";
    var action = isMedical ? "Index" : "Details";

    ViewBag.Title = "SEARCH PRISONER" + (isMedical ? " MEDICAL INFORMATION" : "");
}

@section head{
    @Styles.Render("~/content/typeahead")
}

<div class="title">@ViewBag.Title</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <legend></legend>

        <div class="control-group" style="color:red;">
            @Html.Label("Computer Number نمبر", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBox("ComputerNumber") OR
            </div>
        </div>

        <div class="control-group">
            @Html.Label("Prisoner Number قیدی نمبر", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBox("PrisonerNumber") OR
            </div>
        </div>

        <div class="control-group">
            @Html.Label("CNIC شناختی کارڈ", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBox("PrisonerCNIC") OR
            </div>
        </div>
        <div class="control-group">
            @Html.Label("Search ONE by Name قیدی کا نام", new { @class = "control-label" })
            <div class="controls">
                <input id="PrisonerName" type="text" autocomplete="off" /> OR
            </div>
        </div>
        <div class="control-group">
            @Html.Label("Search MANY by Name قیدی کا نام", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBox("Name")
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
        <hr />

    </fieldset>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>@Html.DisplayNameFor(model => model.PrisonerNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Parentage)</th>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
                <th>@Html.DisplayNameFor(model => model.Age)</th>
                <th>@Html.DisplayNameFor(model => model.District)</th>
                <th>@Html.DisplayNameFor(model => model.FIRs)</th>
                <th>@Html.DisplayNameFor(model => model.UnderSections)</th>
                <th>@Html.DisplayNameFor(model => model.PoliceStation)</th>
                <th>@Html.DisplayNameFor(model => model.DateOfAdmission)</th>
                <th>@Html.DisplayNameFor(model => model.DateOfHearing)</th>
                <th>@Html.DisplayNameFor(model => model.Children)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                        @{
                           i++;
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.PrisonerNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Parentage)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                    <td>@Html.DisplayFor(modelItem => item.District)</td>
                    <td>@Html.DisplayFor(modelItem => item.FIRs)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnderSections)</td>
                    <td>@Html.DisplayFor(modelItem => item.PoliceStation)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfAdmission)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfHearing)</td>
                    <td>@Html.DisplayFor(modelItem => item.Children)</td>
                    <td>@Html.ActionLink("Details", action, controller, new { PrisonerId = item.PrisonerId, UserType = Request["NextView"] }, new { @class = "btn btn-small btn-info" })</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/typeahead")
    <script>
        $("#PrisonerName").on("typeahead:selected typeahead:autocompleted", function (e, selectedItem) {
            if (selectedItem)
                window.location.replace('@Url.Content(string.Format("~/{0}/{1}?PrisonerId=", controller, action))' + selectedItem.PrisonerId);
        });

        $("#PrisonerName").typeahead({
            name: 'names',
            valueKey: 'Name',
            remote: '@Url.Content("~/Prisoner/List/")%QUERY'
        });

    </script>
}