@using BootstrapSupport
@model PRS.Models.PrisonerSubType 
@{
    ViewBag.Title = "Prisoner Sub Type Details"; 
}
<h3>@ViewBag.Title</h3> 

    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.PrisonerType) </dt>
		<dd>@Html.DisplayFor(model => model.PrisonerType.Name)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Name)</dt>
		<dd>@Html.DisplayFor(model => model.Name)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Description)</dt>
		<dd>@Html.DisplayFor(model => model.Description)</dd>
	</dl> 
	<dl class="dl-horizontal">
		<dt></dt>
		<dd>@Html.ActionLink("Edit", "Edit", new { id=Model.PrisonerSubTypeId }) | @Html.ActionLink("Back to List", "Index") </dd>
	</dl>

