@using BootstrapSupport
@model PRS.Models.Admission
@{
    ViewBag.Title = "Edit Admission"; 
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">

        @Html.HiddenFor(model => model.AdmissionId)
        @Html.HiddenFor(model => model.PrisonerId)
        @Html.HiddenFor(model => model.IsActive)

        <table class="table2columns">
            <tr>
                <td>
                    <div class="title">
                        RELEASE INFORMATION رہائی
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.DateOfRelease, new { @class = "control-label" })
                        <div class="controls">
                            <input type="text" name="DateOfRelease" class="datepicker" data-date-format="dd-M-yyyy" value="@Html.DisplayFor(model => model.DateOfRelease)">
                            @Html.ValidationMessageFor(model => model.DateOfRelease, string.Empty, new { @class="help-inline" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.DecisionStatus, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("DecisionStatus")
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.JudgeType, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("JudgeTypeId", "-- Select Judge Type --")
                            @Html.ValidationMessageFor(model => model.JudgeTypeId, "*", new { @class = "help-inline" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.AuthorityForRelease, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(model => model.AuthorityForRelease)
                            @Html.ValidationMessageFor(model => model.AuthorityForRelease, "*", new { @class="help-inline" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.Remarks, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Remarks, 5, 50, null)
                            @Html.ValidationMessageFor(model => model.Remarks, string.Empty, new { @class="help-inline" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="title">ADMISSION INFORMATION داخلہ<div class="float-right">@Html.ActionLink("Back", "Details", new { AdmissionId = Model.AdmissionId, PrisonerId = Model.PrisonerId }, new { @class="btn btn-small btn-info" })</div></div>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.PrisonerNumber)</dt>
                        <dd>@Html.DisplayFor(model => model.PrisonerNumber)</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.DateOfAdmission)</dt>
                        <dd>@Html.DisplayFor(model => model.DateOfAdmission)</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.Barrack)</dt>
                        <dd>@Html.DisplayFor(model => model.Barrack.Name)</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.BlockNumber)</dt>
                        <dd>@Html.DisplayFor(model => model.BlockNumber)</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.CellNumber)</dt>
                        <dd>@Html.DisplayFor(model => model.CellNumber)</dd>
                    </dl>
                    @*<dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.DateOfWarrantCommitment)</dt>
                        <dd>@Html.DisplayFor(model => model.DateOfWarrantCommitment)</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.DateOfRemand)</dt>
                        <dd>@Html.DisplayFor(model => model.DateOfRemand)</dd>
                    </dl>*@
                </td>
            </tr>
        </table>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="RELEASE" class="btn btn-primary" />
                &nbsp; @Html.ActionLink("Cancel", "Details", new { AdmissionId = Model.AdmissionId, PrisonerId = Model.PrisonerId })
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    <script>
	$.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
        });

	$('.datepicker').datepicker({autoclose: true});
    </script>
}


