@using BootstrapSupport
@model PRS.Models.MedicalCheckup 
@{
    ViewBag.Title = "New Medical Checkup"; 
}
<h3>@ViewBag.Title</h3> 

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset class="form-horizontal">
        <legend></legend>

        @Html.Hidden("MedicalTreatmentId", Request["MedicalTreatmentId"]) 
        @Html.HiddenFor(model => model.IsActive)

        <div class="control-group"> @Html.LabelFor(model => model.DateOfCheckup, new { @class = "control-label" })
			<div class="controls">
				<input type="text" name="DateOfDischarge" class="datepicker" data-date-format="dd-M-yyyy" value="@Html.DisplayFor(model => model.DateOfCheckup)">
				@Html.ValidationMessageFor(model => model.DateOfCheckup, string.Empty, new { @class="help-inline" })
			</div>
		</div>
        <div class="control-group"> @Html.LabelFor(model => model.BloodPressure, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.BloodPressure)
				@Html.ValidationMessageFor(model => model.BloodPressure, string.Empty, new { @class="help-inline" })
			</div>
		</div>
        <div class="control-group"> @Html.LabelFor(model => model.Pulse, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Pulse)
				@Html.ValidationMessageFor(model => model.Pulse, string.Empty, new { @class="help-inline" })
			</div>
		</div>
        <div class="control-group"> @Html.LabelFor(model => model.Temperature, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Temperature)
				@Html.ValidationMessageFor(model => model.Temperature, string.Empty, new { @class="help-inline" })
			</div>
		</div>
        <div class="control-group"> @Html.LabelFor(model => model.Prescription, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Prescription)
				@Html.ValidationMessageFor(model => model.Prescription, string.Empty, new { @class="help-inline" })
			</div>
		</div>
        <div class="control-group">
			<div class="controls">
				<input type="submit" value="Save" class="btn btn-primary" />
                | @Html.ActionLink("Cancel", "Details", "MedicalTreatment", new {MedicalTreatmentId = Request["MedicalTreatmentId"], PrisonerId = Request["PrisonerId"] }, null)
			</div>
        </div>
    </fieldset>
}

@section Scripts {
	<script>
	$.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
        });

		$('.datepicker').datepicker({autoclose: true});
	</script>
} 


