@using BootstrapSupport
@model PRS.Models.MedicalCheckup 
@{
    ViewBag.Title = "Medical Checkup Details"; 
}
<h3>@ViewBag.Title</h3> 

    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.DateOfCheckup)</dt>
		<dd>@Html.DisplayFor(model => model.DateOfCheckup)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.BloodPressure)</dt>
		<dd>@Html.DisplayFor(model => model.BloodPressure)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Pulse)</dt>
		<dd>@Html.DisplayFor(model => model.Pulse)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Temperature)</dt>
		<dd>@Html.DisplayFor(model => model.Temperature)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Prescription)</dt>
		<dd>@Html.DisplayFor(model => model.Prescription)</dd>
	</dl> 
	<dl class="dl-horizontal">
		<dt></dt>
		<dd>@Html.ActionLink("Edit", "Edit", new { id = Model.MedicalCheckupId, MedicalTreatmentId = Model.MedicalTreatmentId, PrisonerId = Request["PrisonerId"] }, new { @class= "btn btn-primary" })
             | @Html.ActionLink("Back to Treatment", "Details", "MedicalTreatment", new { MedicalTreatmentId = Model.MedicalTreatmentId, PrisonerId = Request["PrisonerId"] }, null)
		</dd>
	</dl>

