@using BootstrapSupport
@model PRS.Models.Appeal
@{
    ViewBag.Title = "Edit Appeal";
}

<div class="title">
    @ViewBag.Title
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset class="form-horizontal">

        @Html.HiddenFor(model => model.AppealId)
        @Html.HiddenFor(model => model.PrisonerId)

        <div class="control-group">
            @Html.LabelFor(model => model.DateOfAppeal, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                <input type="text" name="DateOfAppeal" class="datepicker" data-date-format="dd-M-yyyy" value="@Html.DisplayFor(model => model.DateOfAppeal)">
                @Html.ValidationMessageFor(model => model.DateOfAppeal, "", new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CourtId, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("CourtId", "-- Select Court --")
                @Html.ValidationMessageFor(model => model.CourtId, "*", new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.DateOfResult, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                <input type="text" name="DateOfResult" class="datepicker" data-date-format="dd-M-yyyy" value="@Html.DisplayFor(model => model.DateOfResult)">
                @Html.ValidationMessageFor(model => model.DateOfResult, "", new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(model => model.Description, 3, 50, null)
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp; @Html.ActionLink("Back to List", "Index", new { PrisonerId = Request["PrisonerId"] })
            </div>
        </div>
    </fieldset>
}

@section Scripts
{
    <script>

        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
	    });

        $('.datepicker').datepicker({ autoclose: true });
    </script>

}