@using BootstrapSupport
@model PRS.Models.PrescribedTest 
@{
    ViewBag.Title = "Prescribed Test Details"; 
}
<h3>@ViewBag.Title</h3> 

    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.DateOfTest)</dt>
		<dd>@Html.DisplayFor(model => model.DateOfTest)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.MedicalTest) </dt>
		<dd>@Html.DisplayFor(model => model.MedicalTest.Name)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.TestType)</dt>
		<dd>@Html.DisplayFor(model => model.TestType)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.TestResults)</dt>
		<dd>@Html.DisplayFor(model => model.TestResults)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.MedicalTreatment) </dt>
		<dd>@Html.DisplayFor(model => model.MedicalTreatment.Diagnosis)</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt></dt>
		<dd>@Html.ActionLink("Edit", "Edit", new { id = Model.PrescribedTestId, MedicalTreatmentId = Model.MedicalTreatmentId, AdmissionId = Model.AdmissionId, PrisonerId = Model.PrisonerId }, new { @class= "btn btn-primary" })
             | @Html.ActionLink("Back to Treatment", "Details", "MedicalTreatment", new { MedicalTreatmentId = Model.MedicalTreatmentId, AdmissionId = Model.AdmissionId, PrisonerId = Model.PrisonerId }, null)
		</dd>
	</dl>

