@using BootstrapSupport
@model PRS.Models.District 
@{
    ViewBag.Title = "District Details"; 
}
<h3>@ViewBag.Title</h3> 

    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Province) </dt>
		<dd>@Html.DisplayFor(model => model.Province.Name)</dd>
	</dl> 
    <dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Name)</dt>
		<dd>@Html.DisplayFor(model => model.Name)</dd>
	</dl> 
	<dl class="dl-horizontal">
		<dt></dt>
		<dd>@Html.ActionLink("Edit", "Edit", new { id=Model.DistrictId }) | @Html.ActionLink("Back to List", "Index") </dd>
	</dl>

