@using BootstrapSupport
@model PRS.Models.EarnedRemission 
@{
    ViewBag.Title = "Delete Earned Remission Treatment"; 
}
<h3>@ViewBag.Title</h3> 
<h4>Are you sure you want to delete this remission record?</h4>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.RemissionType)</dt>
    <dd>@Html.DisplayFor(model => model.RemissionType.Name)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.DateOfRemission)</dt>
    <dd>@Html.DisplayFor(model => model.DateOfRemission)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.RemissionBy)</dt>
    <dd>@Html.DisplayFor(model => model.RemissionBy)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.LabourType)</dt>
    <dd>@Html.DisplayFor(model => model.LabourType)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.DateOfLabourStart)</dt>
    <dd>@Html.DisplayFor(model => model.DateOfLabourStart)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.DateOfLabourEnd)</dt>
    <dd>@Html.DisplayFor(model => model.DateOfLabourEnd)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.Years)</dt>
    <dd>@Html.DisplayFor(model => model.Years)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.Months)</dt>
    <dd>@Html.DisplayFor(model => model.Months)</dd>
</dl>

<dl class="dl-horizontal">
    <dt> @Html.DisplayNameFor(model => model.Days)</dt>
    <dd>@Html.DisplayFor(model => model.Days)</dd>
</dl>

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.DateOfProbableRelease) </dt>
    <dd>@Html.DisplayFor(model => model.DateOfProbableRelease)</dd>
</dl>

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.Remarks) </dt>
    <dd>@Html.DisplayFor(model => model.Remarks)</dd>
</dl> 
<dl class="dl-horizontal">
	<dt></dt>
	<dd>
     @using (Html.BeginForm()) 
     { 
         @Html.AntiForgeryToken() <input type="submit" value="Delete" class="btn btn-danger" /> @Html.ActionLink("Cancel", "Index", new { PrisonerId = Request["PrisonerId"] })
     }
    </dd>
</dl>


