@model PRS.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<h3>@ViewBag.Title</h3>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}