@using BootstrapSupport

@model PRS.Models.PrisonerReport
@{
    ViewBag.Title = "Prisoners Health";
    ViewBag.ShowMedical = true;
    ViewBag.ShowStatus = true;
    ViewBag.ShowCategory = true;
    ViewBag.ShowFIR = false;
    ViewBag.ShowCourtHearing = false;

    var controller = ViewContext.RouteData.GetRequiredString("controller");
    var action = ViewContext.RouteData.GetRequiredString("action");
}

<div class="title">
    HEALTH OF PRISONERS AS ON @DateTime.Now.ToString("dd MMM yyyy").ToUpper()
    <div class="float-right">
        TOTAL = @ViewBag.Count &nbsp;
        @Html.ActionLink("<< Back", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>

@using (Html.BeginForm(action, controller, FormMethod.Get))
{
    <table>
        <tr>
            <td>Category</td>
            <td>Status</td>
            <td>Class</td>
            <td>Gender</td>
            <td>District</td>
            <td>Blood Group</td>
            <td>Disease</td>
            <td>Height</td>
            <td>Weight</td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("Category", ViewBag.Category as SelectList, "-- All Categories --", new { @class = "select-auto" })
            </td>
            <td>
                @Html.DropDownList("Status", ViewBag.Status as SelectList, "-- All Status --", new { @class = "select-auto" })
            </td>
            <td>
                @Html.DropDownList("Class", ViewBag.Class as SelectList, "-- All Classes --", new { @class = "select-auto" })
            </td>
            <td>
                @Html.DropDownList("Gender", ViewBag.Gender as SelectList, "-- All Genders --", new { @class = "select-auto" })
            </td>
            <td>
                @Html.DropDownList("District", ViewBag.District as SelectList, "-- All Districts --", new { @class = "select-auto" })
            </td>
            <td>
                @Html.DropDownList("BloodGroup", ViewBag.BloodGroup as SelectList, "-- All Blood Groups --", new { @class = "select-auto" })
            </td>
            <td>
                @Html.DropDownList("CommunicableDisease", ViewBag.CommunicableDisease as SelectList, "-- All Diseases --", new { @class = "select-auto" })
            </td>
            <td>
                @Html.DropDownList("Height", ViewBag.Height as SelectList, "-- All Heights --", new { @class = "select-auto" })
            </td>
            <td>
                <input type="text" name="Weight" class="input-mini" value="@ViewBag.Weight">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Prisoner No.</td>
            <td>Name</td>
            <td>Age</td>
            <td>Identification</td>
            <td>Admission From</td>
            <td>Admission To</td>
            <td>Release From</td>
            <td>Release To</td>
            <td>Hearing From</td>
            <td>Hearing To</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="text" name="PrisonerNumber" class="input-mini" value="@ViewBag.PrisonerNumber">
            </td>
            <td>
                <input type="text" name="Name" class="input-small" value="@ViewBag.Name">
            </td>
            <td>
                <input type="text" name="Age" class="input-mini" value="@ViewBag.Age">
            </td>
            <td>
                <input type="text" name="IdentificationMark1" class="input-small" value="@ViewBag.IdentificationMark1">
            </td>
            <td>
                <input type="text" name="AdmissionFrom" class="datepicker input-small" data-date-format="dd-M-yyyy" value="@ViewBag.AdmissionFrom">
            </td>
            <td>
                <input type="text" name="AdmissionTo" class="datepicker input-small" data-date-format="dd-M-yyyy" value="@ViewBag.AdmissionTo">
            </td>
            <td>
                <input type="text" name="ReleaseFrom" class="datepicker input-small" data-date-format="dd-M-yyyy" value="@ViewBag.ReleaseFrom">
            </td>
            <td>
                <input type="text" name="ReleaseTo" class="datepicker input-small" data-date-format="dd-M-yyyy" value="@ViewBag.ReleaseTo">
            </td>
            <td>
                <input type="text" name="HearingFrom" class="datepicker input-small" data-date-format="dd-M-yyyy" value="@ViewBag.HearingFrom">
            </td>
            <td>
                <input type="text" name="HearingTo" class="datepicker input-small" data-date-format="dd-M-yyyy" value="@ViewBag.HearingTo">
            </td>
            <td>
                <input type="submit" name="FILTER" value="FILTER" class="btn btn-success" />

                @Html.ActionLink("Reset", action, controller, null, new { @class = "btn btn-warning" })
            </td>
        </tr>
    </table>
}

@Html.Partial("_PrisonerPartial", Model)
@Html.ActionLink("<< Back To Reports", "Index", null, new { @class = "btn btn-info" })

@section Scripts {

    <script>
        $('.datepicker').datepicker({ autoclose: true });

        $("#btn-export").click(function () {
            $("#table2excel").table2excel({
                // exclude CSS class
                exclude: ".noExl",
                name: "PMIS Export"
            });
        });
    </script>
}